body{
    background-color: pink;
}

.para1{
    margin-left: 30px;
    margin-right: 30px;
    
}

.para2{
    margin-left: 30px;
    margin-right: 30px;
}

.para3{
    margin-left: 30px;
    margin-right: 30px;
}